torch==2.0.0+cpu
Pillow
torchvision
streamlit
fid-score
numpy==1.23
scikit-image
easydict
future
matplotlib
opencv-python
scikit-image
scipy
click
requests
tqdm
pyspng
ninja
imageio-ffmpeg==0.4.3
timm
psutil
scikit-learn